<mat-toolbar color="primary" style="height: 80px;">
  <label class="lblHeading">Pepper Garden</label>
  <table>
    <tr>
      <th>
        <a mat-button routerLink="/">
          <h5>Home</h5>
        </a>
      </th>
      <th>
        <a mat-button routerLink="/plants">
          <h4>Plants</h4>
        </a>
      </th>

      <!--Another temp addition-->
      <th>
        <a mat-button routerLink="/adminpanel">
          Admin Panel
        </a>
      </th>

      <th>
        <a mat-button><h5>Order History</h5></a>
      </th>

      <th>
        <a mat-button routerLink="/feedbackform">
          <h3>Feedback</h3>
        </a>
      </th>
      <th>
        <a mat-button><h5>Contact Us</h5></a>
      </th>

      <th>
        <a *ngIf="buttonStatus" routerLink="/login">
          <button class="signIn" mat-raised-button color="accent">
            Sign In
          </button>
        </a>
        <a *ngIf="!buttonStatus" routerLink="/">
          <button class="signIn" mat-raised-button color="accent">
            Sign Out
          </button>
        </a>
        <p>{{ currentUser }}</p>
      </th>
    </tr>
  </table>
</mat-toolbar>

<!-- <mat-tab-group>
  <mat-tab label="Home" cl><a routerLink="/"></a> </mat-tab>
  <mat-tab label="Plants"><a routerLink="/plants"></a> </mat-tab>
  <mat-tab label="Order History"> </mat-tab>
  <mat-tab label="Consulatancy"> </mat-tab>
  <mat-tab label="Contact Us"> </mat-tab>
</mat-tab-group> -->
