<div class="clsCarousal">
  <carousel>
    <slide>
      <img
        src="/assets/images/PN1.jpg"
        alt="first slide"
        style="display: block; width: 100%; height:100%"
      />
    </slide>
    <slide>
      <img
        src="/assets/images/PN2.jpg"
        alt="second slide"
        style="display: block; width: 100%;height:100%"
      />
    </slide>
    <slide>
      <img
        src="assets/images/PN3.jpg"
        alt="third slide"
        style="display: block; width: 100%; height:100%"
      />
    </slide>
  </carousel>
</div>
