<body>
  <!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
 <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
 <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
 <ul class="navbar-nav px-3">
  <li class="nav-item text-nowrap">
    <a class="nav-link" href="#">Sign out</a>
  </li>
 </ul>
 </nav> -->
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
              </a>
            </li>
            <li class="nav-item">
              <button
                style="width: 100px;height: 50px;font-size: 20px"
                mat-button
                [matMenuTriggerFor]="menu1"
              >
                Plants
              </button>
              <mat-menu #menu1="matMenu">
                <button mat-menu-item routerLink="/plantAdd">New Plant</button>
                <button mat-menu-item>Edit Plant</button>
              </mat-menu>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="users"></span>
                Customers
              </a>
            </li> -->
            <li class="nav-item">
              <button
                style="width: 100px;height: 50px;font-size: 20px"
                mat-button
                [matMenuTriggerFor]="menu2"
              >
                Reports
              </button>
              <mat-menu #menu2="matMenu">
                <button mat-menu-item (click)="onReportOrders()">Orders</button>
                <button mat-menu-item (click)="onReportFeedback()">
                  Feedback
                </button>
              </mat-menu>
            </li>
          </ul>

          <!-- <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
          >
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6> -->
          <ul class="nav flex-column mb-2"></ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <h1 class="h2">Dashboard</h1>
        </div>

        <!-- <canvas
          class="my-4 w-100"
          id="myChart"
          width="900"
          height="380"
        ></canvas> -->

        <h2></h2>
        <div *ngIf="!repF" class="table-responsive">
          <h6>Customer Feedback Report</h6>
          <table class="table table-striped">
            <tr>
              <th>Customer First Name</th>
              <th>Customer Last Name</th>
              <th>Date</th>
              <th>Perspective</th>
              <th>Feedback type</th>
              <th>Plant Category</th>
              <th>Message</th>
            </tr>
            <tr *ngFor="let feedback of rfeedback">
              <td>{{ feedback.fcfname }}</td>
              <td>{{ feedback.fclname }}</td>
              <td>{{ feedback.fdate }}</td>
              <td>{{ feedback.fperspective }}</td>
              <td>{{ feedback.ftype }}</td>
              <td>{{ feedback.fpcategory }}</td>
              <td>{{ feedback.fmessage }}</td>
            </tr>
          </table>
        </div>
        <div *ngIf="!repO1" class="table-responsive">
          <h6>Order Income Report</h6>
          <table class="table table-striped">
            <tr>
              <th>Order Date</th>
              <th>Issue Date</th>
              <th>Total Amount</th>
              <th>Total Discount</th>
            </tr>
            <tr *ngFor="let order of rorder">
              <td>{{ order.orderDate }}</td>
              <td>{{ order.oissueDate }}</td>
              <td>{{ order.ototAmount }}</td>
              <td>{{ order.ototDiscount }}</td>
            </tr>
          </table>
        </div>
      </main>
    </div>
  </div>
</body>
