<mat-card>
  <form
    class="form-signin"
    (submit)="onUserLogIn(loginForm)"
    #loginForm="ngForm"
  >
    <div class="row">
      <img
        src="/assets/images/pnLogo.png"
        style="width: 50px;height: 50px;margin-left: 5px;"
      />
      <h1
        class="h3 mb-3 font-weight-normal"
        style="font-weight: bolds;margin-top: 20px"
      >
        Sign In
      </h1>
    </div>
    <br />
    <div class="form-group">
      <label for="inputUserName" class="sr-only">Username</label>
      <input
        type="text"
        id="inputUserName"
        name="username"
        class="form-control"
        placeholder="username"
        required
        [(ngModel)]="username"
        autofocus
      />
    </div>

    <div class="form-group">
      <label for="userrole" class="sr-only">Role</label>
      <select
        class="custom-select my-1 mr-sm-2"
        id="userrole"
        name="userrole"
        [(ngModel)]="userrole"
      >
        <option value="customer">Customer</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="inputPassword"
        name="password"
        class="form-control"
        placeholder="password"
        [(ngModel)]="password"
        required
      />
    </div>
    <br />
    <!-- <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div> -->
    <div class="row">
      <div class="col">
        <button
          class="btn btn-lg btn-outline-success "
          type="submit"
          style="margin: auto"
        >
          Sign in
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <label style="font-weight: bold">New to plant tech</label>
      <a routerLink="/register">
        <button
          class="btn btn-lg btn-outline-success"
          style="margin-left: 10px"
          type="submit"
        >
          Sign up
        </button>
      </a>
    </div>
  </form>
</mat-card>
