<mat-card>
  <form
    class="form-signin"
    (submit)="onUserLogIn(loginForm)"
    #loginForm="ngForm"
  >
    <img
      class="mb-4"
      src="/docs/4.3/assets/brand/bootstrap-solid.svg"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
    <label for="inputUserName" class="sr-only">Username</label>
    <input
      type="text"
      id="inputUserName"
      name="username"
      class="form-control"
      placeholder="username"
      required
      ngModel
      autofocus
    />

    <br />

    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      name="password"
      class="form-control"
      placeholder="Password"
      ngModel
      required
    />
    <br />
    <!-- <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div> -->
    <button class="btn btn-lg btn-success" type="submit" style="margin: center">
      Sign in
    </button>
    <br />
    <label>New to plant tech</label>
    <button class="btn btn-md btn-success btn-block" type="submit">
      Sign up
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
  </form>
</mat-card>
