<div class="row">
  <div class="col-md-4" *ngFor="let plant of plantsEdit">
    <div class="card">
      <div class="card-body">
        <img src="/assets/images/{{ plant.pname }}.jpg" class="card-img-top" />
        <h5 class="card-title">{{ plant.pname }}</h5>
        <!-- <p class="card-text" style="float: left;">
          Rs.{{ plant.punitPrice }} /=
        </p> -->
        <br />
        <a class="btn btn-success">Update</a>
        <a class="btn btn-success" (click)="onDelete(plant.pid)">Delete</a>
      </div>
    </div>
  </div>
</div>
