<div class="row">
  <div class="btn-group" dropdown>
    <button
      id="button-basic"
      dropdownToggle
      type="button"
      class="btn btn-success dropdown-toggle"
      aria-controls="dropdown-basic"
    >
      Select Category <span class="caret"></span>
    </button>
    <ul
      id="dropdown-basic"
      *dropdownMenu
      class="dropdown-menu"
      role="menu"
      aria-labelledby="button-basic"
    >
      <li role="menuitem">
        <a class="dropdown-item" href="#">Fruit Plants</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">Outdoor Decorative Plants</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">Indoor Decorative Plants</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">Herbal Plants</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let plant of plants">
    <div class="card">
      <div class="card-body">
        <img src="/assets/images/{{ plant.pname }}.jpg" class="card-img-top" />
        <h5 class="card-title">{{ plant.pname }}</h5>
        <p class="card-text" style="float: left;">
          Rs.{{ plant.punitPrice }} /=
        </p>
        <br />
        <a [routerLink]="['/plantsorderone', plant.pid]" class="btn btn-success"
          >Order</a
        >
      </div>
    </div>
  </div>
</div>
